<!DOCTYPE html>

<html ng-app="tachoSerwis" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="css/TachoSerwis.min.css" />
    <link rel="stylesheet" href="css/jquery.mobile.icons.min.css" />
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/Script1.js"></script>
    <script src="app/tachoSerwis.js"></script>
    <script src="app/repositories/repository.js"></script>
    <script src="app/services/jsonParser.js"></script>
    <script src="cordova.js"></script>
</head>

<body>
    <div ng-controller="mainCtrl as mCtrl" data-role="page" id="Main">
        <div data-role="header" data-theme="a">
            <h1>Tacho serwis</h1>
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="#">Nowa</a>
                    </li>
                    <li>
                        <a href="#">Szukaj</a>
                    </li>
                    <li>
                        <a href="#Last">Sprawdź</a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="padding:10px;" data-theme="a" data-role="main">
            <fieldset class="ui-grid-a">
                <div class="ui-block-a">
                    <input type="search" placeholder="Rejestracja..." name="search-mini" id="search-mini" ng-model="mCtrl.registration" value=""
                        data-mini="true" />
                </div>
                <div class="ui-block-b">
                    <button class="tachoButton" type="submit" ng-click="mCtrl.findForReg()" data-theme="a">Szukaj</button>
                </div>
            </fieldset>
            <hr>
            <div ng-show="mCtrl.showLeg">
                <div style="text-align:center">
                    <div class="ui-grid-c">
                        <h4 class="ui-block-a">Rej:</h4>
                        <h4 class="ui-block-b">Model:</h4>
                        <h4 class="ui-block-c">Marka:</h4>
                        <h4 class="ui-block-d">Licznik</h4>
                    </div>

                    <div class="ui-grid-c">
                        <h4 class="ui-block-a">{{mCtrl.legArray[0].Registration}}</h4>
                        <h4 class="ui-block-b">{{mCtrl.legArray[0].Model}}</h4>
                        <h4 class="ui-block-c">{{mCtrl.legArray[0].Brand}}</h4>
                        <h4 class="ui-block-d">{{mCtrl.legArray[0].Tachograph}}</h4>
                    </div>
                    <br>
                </div>
                <div ng-click="mCtrl.reLegalize(leg.id)" ng-repeat="leg in mCtrl.legArray">
                    <ul data-role="listview" data-inset="true">
                        <li data-theme="b" data-role="list-divider">{{leg.DateTo}}
                            <span style="color:white" class="ui-li-count legalization-type-{{leg.LegalizationType}}">{{leg.LegalizationType[0]}}</span>
                        </li>
                        <li data-theme="b">
                            <a href="#">
                                <h5>Dni do końca:
                                    <strong>{{leg.DayToEnd}}</strong>
                                </h5>
                                <h5>Tel:<strong>{{leg.PhoneNumber}}</strong></h5>
                                <p>Nazwa frimy:
                                    <strong>{{leg.Name}}</strong>
                                </p>
                                <p>Kierowca:
                                    <strong>{{leg.DriverName}}</strong>
                                </p>
                                <p>Numer tachografu:
                                    <strong>{{leg.TachographNr}}</strong>
                                </p>
                                <p>Symbol tachografu:
                                    <strong>{{leg.TachographSymbol}}</strong>
                                </p>
                            </a>
                        </li>
                    </ul>
                    <br/>
                </div>

            </div>

        </div>
    </div>
    <div ng-controller="lastCtrl as lCtrl" data-role="page" id="Last">
            <div data-role="header" data-theme="a">
                <h1>Tacho serwis</h1>
                <div data-role="navbar">
                    <ul>
                        <li>
                            <a href="#">Nowa</a>
                        </li>
                        <li>
                            <a href="#Main">Szukaj</a>
                        </li>
                        <li>
                            <a href="#Last">Sprawdź</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div style="padding:10px;" data-theme="a" data-role="main">
                <hr>
                <div>
                    <h3>Zbliżające się:</h3>
                    <div  ng-repeat="leg in lCtrl.legArray">
                        <ul data-role="listview" data-inset="true">
                            <li data-theme="b" data-role="list-divider">{{leg.DateTo}}
                                <span style="color:white" class="ui-li-count legalization-type-{{leg.LegalizationType}}">{{leg.LegalizationType[0]}}</span>
                            </li>
                            <li data-theme="b">
                                <a ng-click="lCtrl.call(leg)" href="#">
                                    <h5>Dni do końca:
                                        <strong>{{leg.DayToEnd}}</strong>
                                    </h5>
                                    <h5>Rejestracja:
                                            <strong>{{leg.Registration}}</strong>
                                    </h5>
                                    <p>Nazwa frimy:
                                        <strong>{{leg.Name}}</strong>
                                    </p>
                                    <p>Telefon:
                                        <strong>{{leg.PhoneNumber}}</strong>
                                    </p>
                                    <p>Kierowca:
                                        <strong>{{leg.DriverName}}</strong>
                                    </p>
                                    <p>Numer tachografu:
                                        <strong>{{leg.TachographNr}}</strong>
                                    </p>
                                    <p>Symbol tachografu:
                                        <strong>{{leg.TachographSymbol}}</strong>
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <br/>
                    </div>
    
                </div>
    
            </div>
        </div>

</body>

</html>